{% for host in groups['osds'] %}
{% if 'ssd' in hostvars[host].meta %}
service_type: osd
service_id: {{ hostvars[host].meta.host }}{{ hostvars[host].crush_device_class }}
placement:
  hosts:
  - {{ hostvars[host].meta.host }}
spec:
{% if 'blockdb' in hostvars[host].meta %}
  db_devices:
    paths:
{% for path in hostvars[host].meta.blockdb %}
    - {{ path }}
{% endfor %}
{% endif %}
  data_devices:
    paths:
{% for path in hostvars[host].meta.ssd %}
    - {{ path }}
{% endfor %}
  crush_device_class: {{ hostvars[host].crush_device_class }}
---
{% endif %}
{% if 'hdd' in hostvars[host].meta %}
service_type: osd
service_id: {{ hostvars[host].meta.host }}{{ hostvars[host].crush_device_class }}
placement:
  hosts:
  - {{ hostvars[host].meta.host }}
spec:
{% if 'blockdb' in hostvars[host].meta %}
  db_devices:
    paths:
{% for path in hostvars[host].meta.blockdb %}
    - {{ path }}
{% endfor %}
{% endif %}
  data_devices:
    paths:
{% for path in hostvars[host].meta.hdd %}
    - {{ path }}
{% endfor %}
  crush_device_class: {{ hostvars[host].crush_device_class }}
---
{% endif %}
{% endfor %}
